@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__title {
  display: flex;
  align-items: center;
  max-width: 730px;
  margin: 0;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  color: #000000;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link::after {
  content: " \2192";
}

.header__link:hover {
  opacity: 50%;
  transition-delay: 2ms;
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 608px;
  width: 765px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.rotation {
  animation: rotation 20s linear infinite;
}


.content {
  margin: 0;
  padding: 0;
}

.description {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  max-width: 175px;
  margin: 0px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 30px;
  color: #000000;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

.techniques {
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 920px;
}

.cards__item {
  margin-right: 100px;
  margin-top: 60px;
  max-width: 240px;
}

.cards__item:nth-of-type(3) {
  margin-right: 0px;
}

.cards__image {
  height: 160px;
  width: 160px;
  margin: 0 40px;
  border-radius: 50%;
}

.cards__title {
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 43px;
}

.cards__description {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 16px;
}

.video {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  max-height: 550px;
}

.video__iframes {
  margin: 50px auto 0;
  font-size: 0;
  line-height: 0;
}

.video__iframe {
  margin-right: 20px;
}

.video__iframe:last-of-type {
  margin-right: 0;
}

.oakley {
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-top: 160px;
}

.digits {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

.table {
  width: 1100px;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
}

.feynman {
  box-sizing: border-box;
  min-height: 890px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feynman__title {
  margin: 0;
  margin-top: 100px;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link::after {
  content: " \2192";
}

.feynman__link:hover {
  opacity: 50%;
  transition-delay: 2ms;
}

.feynman__illustration {
  height: 637px;
  width: 867px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 0;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  max-width: 790px;
  margin: 0;
  margin-top: 50px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  margin-top: 36px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 0;
  margin-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin-top: 68px;
  height: 620px;
  overflow: hidden;
  position: relative;
}

.khan__book-pic {
  margin-right: 48px;
  width: 608px;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  top: 0;
}

.khan__buy-link::after {
  content: " \2192";
}

.khan__buy-link:hover {
  opacity: 50%;
  transition-delay: 2ms;
}

.kaufman {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
 margin: 0 auto;
 z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-size: contain;
  background-image: url('../images/kaufman-triangle.svg');
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 0;
}

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  margin: 80px auto 0;
  min-width: 1100px;
  display: flex;
  justify-content: space-between;
}

.resources__link {
  margin: 0;
}

.resources__link:hover {
  opacity: 50%;
  transition-delay: 2ms;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  margin: 60px auto 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.footer__column {
 display: flex;
 flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
}

.footer__author {
  color: white;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  margin: 0;
}

.footer__column_content_social {
  margin: 0;
}

.footer__column-heading {
  color: white;
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  opacity: 50%;
  transition-delay: 2ms;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
